body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:131px;
  width:1092px;
  height:75px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  font-size:14px;
  color:#009688;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:40px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:0px;
  width:561px;
  height:40px;
  font-size:14px;
  color:#009688;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:557px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:122px;
  height:40px;
  font-size:14px;
  color:#009688;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:0px;
  width:210px;
  height:40px;
  font-size:14px;
  color:#009688;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:206px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:35px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:35px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:40px;
  width:561px;
  height:35px;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:557px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:35px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:40px;
  width:122px;
  height:35px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:40px;
  width:210px;
  height:35px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009688;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:56px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009688;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
