body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1752px;
  height:950px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:1752px;
  height:950px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1753px;
  height:2px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:50px;
  width:1752px;
  height:1px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:13px;
  width:20px;
  height:20px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#A6BAD2;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:13px;
  width:123px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#A6BAD2;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:949px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:949px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:83px;
  width:39px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:75px;
  width:181px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1711px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:150px;
  width:1711px;
  height:650px;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:125px;
  width:128px;
  height:52px;
  font-size:14px;
  color:#666666;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  word-wrap:break-word;
}
#u1290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:75px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:233px;
  width:1684px;
  height:554px;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:47px;
  height:40px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:40px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:1320px;
  height:40px;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1316px;
  word-wrap:break-word;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:0px;
  width:270px;
  height:40px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  word-wrap:break-word;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:47px;
  height:57px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:40px;
  width:47px;
  height:57px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:43px;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:57px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:40px;
  width:1320px;
  height:57px;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1316px;
  word-wrap:break-word;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:40px;
  width:270px;
  height:57px;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:58px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:47px;
  height:58px;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:58px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:97px;
  width:47px;
  height:58px;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:43px;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:58px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:97px;
  width:1320px;
  height:58px;
}
#u1302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1316px;
  word-wrap:break-word;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:58px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:97px;
  width:270px;
  height:58px;
}
#u1303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:47px;
  height:57px;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:155px;
  width:47px;
  height:57px;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:43px;
  word-wrap:break-word;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:57px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:155px;
  width:1320px;
  height:57px;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:155px;
  width:270px;
  height:57px;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:47px;
  height:57px;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:212px;
  width:47px;
  height:57px;
}
#u1309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:43px;
  word-wrap:break-word;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:57px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:212px;
  width:1320px;
  height:57px;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:212px;
  width:270px;
  height:57px;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:47px;
  height:57px;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:269px;
  width:47px;
  height:57px;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:43px;
  word-wrap:break-word;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:57px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:269px;
  width:1320px;
  height:57px;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:269px;
  width:270px;
  height:57px;
}
#u1315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:47px;
  height:57px;
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:326px;
  width:47px;
  height:57px;
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:43px;
  word-wrap:break-word;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:57px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:326px;
  width:1320px;
  height:57px;
}
#u1318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:326px;
  width:270px;
  height:57px;
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:383px;
  width:47px;
  height:57px;
}
#u1320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:383px;
  width:47px;
  height:57px;
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:43px;
  word-wrap:break-word;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:57px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:383px;
  width:1320px;
  height:57px;
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:383px;
  width:270px;
  height:57px;
}
#u1323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:47px;
  height:57px;
}
#u1324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:440px;
  width:47px;
  height:57px;
}
#u1325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:43px;
  word-wrap:break-word;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:57px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:440px;
  width:1320px;
  height:57px;
}
#u1326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:440px;
  width:270px;
  height:57px;
}
#u1327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:497px;
  width:47px;
  height:57px;
}
#u1328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:497px;
  width:47px;
  height:57px;
}
#u1329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:43px;
  word-wrap:break-word;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:57px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:497px;
  width:1320px;
  height:57px;
}
#u1330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:497px;
  width:270px;
  height:57px;
}
#u1331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(84, 201, 232, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:1725px;
  top:293px;
  width:59px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
#u1332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u1333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(254, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(251, 196, 196, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F8986C;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:293px;
  width:59px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F8986C;
}
#u1333_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:291px;
  width:60px;
  height:30px;
  overflow:hidden;
}
#u1335_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1335_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
  text-align:left;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-size:9px;
  color:#FFFFFF;
  text-align:left;
}
#u1336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1335_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1335_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-size:9px;
}
#u1337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  -webkit-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:291px;
  width:29px;
  height:29px;
}
#u1338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:177px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:1811px;
  top:75px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u1341_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  background-image:none;
}
#u1341_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:178px;
  width:947px;
  height:222px;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:196px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:259px;
  width:59px;
  height:18px;
  text-align:right;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:343px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:343px;
  width:80px;
  height:35px;
  color:#1E1E1E;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:253px;
  width:810px;
  height:36px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  visibility:hidden;
  background-image:none;
}
#u1341_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
}
#u1351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:200px;
  width:591px;
  height:204px;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:219px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:279px;
  width:203px;
  height:18px;
  text-align:right;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u1355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:344px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:344px;
  width:80px;
  height:35px;
  color:#1E1E1E;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:270px;
  width:36px;
  height:36px;
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:245px;
  width:16px;
  height:16px;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:293px;
  width:16px;
  height:16px;
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:350px;
  width:16px;
  height:16px;
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:400px;
  width:16px;
  height:16px;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:455px;
  width:16px;
  height:16px;
}
#u1362_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:514px;
  width:16px;
  height:16px;
}
#u1363_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:569px;
  width:16px;
  height:16px;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:625px;
  width:16px;
  height:16px;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:684px;
  width:16px;
  height:16px;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:741px;
  width:16px;
  height:16px;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(84, 201, 232, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:1725px;
  top:343px;
  width:59px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(254, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(251, 196, 196, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F8986C;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:343px;
  width:59px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F8986C;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:341px;
  width:60px;
  height:30px;
  overflow:hidden;
}
#u1371_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1371_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
  text-align:left;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-size:9px;
  color:#FFFFFF;
  text-align:left;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1371_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1371_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-size:9px;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  -webkit-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:341px;
  width:29px;
  height:29px;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:177px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:177px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:177px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
